RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /AFB/index.php [L]
ExpiresActive On
ExpiresDefault A1
Header append Cache-Control must-revalidate
