
button{
  cursor:pointer;
}

a{
  cursor:pointer;
  text-decoration: none;
  color: rgb(96, 93, 93);
}


body{
  font-family: 'Arvo', serif;
  background: #f7f9fc;
}



main{
 position:absolute;
 top:7.5%;
 left:0;
 height: 100%;
 width: 100%;
}


/*navBar */



#navBar{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 7.5%;
  background: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px;
  border-color: rgb(167, 165, 165);
}


#navBarA{
  height: 100%;
  width: 20%;
}

#navBarA img{
  height: 65%;
  width: auto;
  margin-left: 10%;
  margin-top: 3%;
}

#navBarB{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#navBarB img{
  height: 65%;
  width: auto;
  margin-left: 10%;
  margin-top: 3%;
}




 /*Home */

 .homeContainer{
   background-size:cover;
   position: absolute; top: 0;
   left:0; width:100%;
   min-height: 100%;
   height:100%; display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center
 }


 .homeCenterDiv{
   height: 60%;
   width: 80%;
 }

 .homeCenterDivTextContainer{
   height: 20%;
 }

 /*Home */

 .mainImage{
   width: 95%;
   aspect-ratio: 1/1;
   border-radius: 15px;
 }

 .mainImageContainer{
   margin-top: 30px;
   width: 33.33%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   aspect-ratio: 1/1;
  }



.navImg{
  height: 3.5vh;
  width: auto;
}


.cbImg{
  height: 80%;
  width: auto;
}

.newProjectImg{
  height: 4.25vh;
  width: auto;
}


#mainDiv{
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

/*  desktop  */

.cartImagesContainer{
  margin-top: 3%;
  margin-bottom: 10vh;
  margin-left: 3%;
  height: 100%;
  width:40%;
  max-width: 1100px;
  display:flex;
  flex-direction:column;
}

.rightCartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  background: #efeff1;
  position: fixed;
  right: 5%;
  top: 15%;
  border-radius: 50px;
}

.rightCartSubContainer{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}


.mobileCartPaymentContainer{
  display: none;
}


.cartImgContainer{
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 33.33%;
  aspect-ratio: 1/1;
  min-width: 180px;
  max-width: 300px;
}

.deleteCartButton{
  height: 20px;
}

/* cart */

#cartImagesContainersContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  margin-left: 5%;
}


@media screen and (max-width: 1000px){

  .mobileCartPaymentContainer{
    position: fixed;
    top: 80vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20vh;
    background: #efeff1;
    border-radius: 0px;
  }

  .rightCartContainer{
    display: none;
  }

  /* cart */
  #cartImagesContainersContainer{
    align-items: center;
    margin-bottom: 25vh;
    width: 100%;
    margin-left: 0;
  }


}
